language: go
sudo: required

go:
  - 1.9.x
go_import_path: github.com/vaporz/turbo
before_install:
  # execute all of the commands which need to be executed
  # before installing dependencies
  - ./.travis/install-thrift.sh
  - ./.travis/install-protoc.sh 3.1.0
  - go get github.com/mattn/goveralls

install:
  # install all of the dependencies you need here
  - cd $GOPATH/src/github.com/vaporz/turbo
  - make install

#before_script:
# execute all of the commands which need to be executed
# before running actual tests
# for example:
#- mysql -u root -e 'CREATE DATABASE test'
#- bin/doctrine-migrations migrations:migrate

script:
  # execute all of the commands which should make the build pass or fail
  - $HOME/gopath/bin/goveralls -service=travis-ci -ignore=protoc-gen-buildfields/*,test/testservice/*,test/testservice/*/*,test/testservice/*/*/*,test/testservice/*/*/*/*/*,test/testservice/*/*/*/*/*/*,turbo/*,turbo/cmd/root.go

env:
  global:
    - "PATH=$PATH:$HOME/local/bin"
